p{
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
}

form{
	position: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

fieldset{
	background-color: white;
	border: 2px solid gray;
}

.field{
	display: inline-block;
	position: center;
	margin-left: 2px;
	margin-right: 2px;
}

#terug{
	float: left;
}

#reset{
	float: left;
}

#submit{
	float: right;
}

h3{
	font-size: inherit;
}

label{
	float: left;
	font-size: inherit;
}

select{
	float: right;
	font-size: inherit;
	border: 1px solid darkgray;
	margin: 0px;
	padding: 0px;
}

input{
	float: right;
	text-align: left;
	font-size: inherit;
	border: 1px solid darkgray;
	margin: 0px;
	padding: 0px;
}

textarea{
	float: right;
	text-align: left;
	font-size: inherit;
	margin: -2px;
	padding: 0px;
	border: 1px solid darkgray;
}

/* Desktop Scherm*/
@media screen and (min-width: 1000px){
	form{
		min-width: 40vw;
		max-width: 40vw;
	}

	fieldset{
		border-radius: 25px;
	}

	.field{
		width: 90%;
		height: fit-content;
		font-size: large;
	}

	select{
		height: available;
		width: 60%;
	}

	input{
		height: available;
		width: calc(60% - 2px);
	}

	.hoeveelheid {
		float: right;
		width: calc(30% - 2px);
		margin-left: 4px;
	}

	textarea{
		height: 10%;
		width: 60%;
	}
}


/* Tablet Scherm */
@media screen and (min-width: 760px) and (max-width: 1000px){
	form{
		min-width: 80vw;
		max-width: 80vw;
	}

	fieldset{
		border-radius: 25px;
	}

	.field{
		width: 90%;
		height: fit-content;
		font-size: large;
	}

	select{
		height: available;
		width: 60%;
	}

	input{
		height: available;
		width: calc(60% - 2px);
	}

	.hoeveelheid {
		float: right;
		width: calc(30% - 2px);
		margin-left: 4px;
	}

	textarea{
		height: 10%;
		width: 60%;
	}
}


/* Telefoon Scherm*/
@media screen and (max-width: 760px){
	form{
		min-width: 95vw;
		max-width: 95vw;
	}

	fieldset{
		border-radius: 15px;
	}

	.field{
		width: 90%;
		height: fit-content;
		font-size: large;
	}

	select{
		height: available;
		width: 60%;
	}

	input{
		height: available;
		width: calc(60% - 2px);
	}

	.hoeveelheid {
		float: right;
		width: calc(30% - 2px);
		margin-left: 4px;
	}

	textarea{
		height: 10%;
		width: 60%;
	}
}