ul{
	text-align: left;
}

p{
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
}

.creator{
	text-align: center;
	padding: 0;
}

#headercontainer{
	height: inherit;
	width: inherit;
}

.cocktail{
	background-color: white;
	border-color: grey;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	position: relative;
}

.fill_hid{
	display:none;
}

#selecteer{
	float: right;
	margin: auto 2%;
}

#adminDiv{
	max-width: inherit;
	width: inherit;
	max-height: 15%;
	height: 15%;
	position: absolute;
	bottom: 10px;
}

#edit{
	max-width: calc(35% - 10px);
	max-height: 100%;
	margin: 0px 10px;
	float: left;
}

#remove{
	max-width: calc(35% - 10px);
	max-height: 100%;
	margin: 0px 10px;
	float: right;
}



/* Desktop Scherm*/
@media screen and (min-width: 1200px){
	#content{
		margin-top: 30px;
	}

	.cocktail{
		margin: 1%;
		height: 450px;
		width: 400px;
		border-radius: 25px;
	}

	ul{
		margin-left: 20px;
	}

	#selecteer{
		max-width: 30vw;
		min-width: 30vw;
	}

	select{
		height: available;
		margin-bottom: 2%;
		max-width: 12vw;
		width: 12vw;
	}

	input{
		text-align: center;
		border: 1px solid darkgray;
		padding: 0px;
		width: 30vw;
		max-width: calc(30vw - 2px);
	}
}


/* Tablet Scherm */
@media screen and (min-width: 760px) and (max-width: 1200px){
	#content{
		margin-top: 100px;
	}

	.cocktail{
		margin: 1%;
		margin-bottom: 2%;
		height: 450px;
		width: 330px;
		border-radius: 25px;
	}

	ul{
		margin-left: 20px;
	}

	#selecteer{
		margin-left: 5%;
		margin-right: 5%;
	}

	.afterclick{
		width: 40%;
		margin-left: 4%;
		margin-right: 2%;
		font-size: 16px;
	}

	select{
		float: left;
		width: 27%;
		margin-top: 10px;
		margin-right: 3%;
		margin-left: 3%;
		height: 20px;
	}

	input{
		float: left;
		text-align: center;
		border-radius: 2%;
		height: 50px;
		width: 84%;
		margin-top: 10px;
		margin-left: 8%;
		margin-right: 8%;
	}
}


/* Telefoon Scherm*/
@media screen and (max-width: 760px){
	.afterclick{
		height: 100px;
		font-size: 16px;
		margin: 1%;
		width: 40%;
	}

	.cocktail{
		width: 80%;
		margin-top: 10%;
		border-radius: 20px;
	}

	select{
		width: 25%;
		margin: 5px;
		content: "\A";
		white-space: pre-line;
	}

	input{
		margin: 10px;
		width: 82%;
		height: 50px;
		text-align: center;
		font-size: 20px;
	}

	ul{
		margin-left: 10%;
	}
}