ul{
	text-align: left;
}

p{
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
}

.creator{
	text-align: center;
	padding: 0;
}

.cocktail{
	background-color: white;
	border-color: grey;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	position: relative;
	z-index: 1 !important;
}

#adminDiv{
	max-width: 100%;
	width: 100%;
	max-height: 15%;
	height: 15%;
	position: absolute;
	bottom: 0px;
}

#edit{
	max-width: 35%;
	max-height: 100%;
	margin: 5%;
	float: left;
	text-align: left;
}

#remove{
	max-width: 35%;
	max-height: 100%;
	margin: 5%;
	float: right;
	text-align: right;
}



/* Desktop Scherm*/
@media screen and (min-width: 1200px){

	.cocktail{
		margin: 1%;
		height: 450px;
		width: 400px;
		border-radius: 25px;
	}

	ul{
		margin-left: 20px;
	}
}


/* Tablet Scherm */
@media screen and (min-width: 760px) and (max-width: 1200px){

	.cocktail{
		margin: 1%;
		margin-bottom: 2%;
		height: 450px;
		width: 330px;
		border-radius: 25px;
	}

	ul{
		margin-left: 20px;
	}

}


/* Telefoon Scherm*/
@media screen and (max-width: 760px){

	.cocktail{
		margin: 1%;
		height: 450px;
		width: 400px;
		max-width: 90%;
		border-radius: 15px;
	}

	ul{
		margin-left: 20px;
	}
}